$bgdefault: #e4e4e4;
$bgdark1: #d8d8d8;
$bgdark2: #a1a1a1;
$bgdark3: #646464;
$white: #fff;
$light: #ebebeb;
$highlighted: #1f40d1;
$link: #001e96;
$black: #131313;
$gogreen: #4de643;
$calendarred: #f92e31;

$corner-radius: 15px;