@import "const";

.Header {
    position: sticky;
    top: 0;
    width: fill;
    background-color: $white;
    
    a {
        color: $black;
    }

    padding-top:    5px;
    padding-bottom: 5px;
    padding-left:   10%;
    padding-right:  10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 20px 20px 75px $bgdark2, -30px -30px 60px $bgdefault;



    ul {
        display: flex;
        list-style-type: none;
        li {
            a:hover {
                color: $highlighted;
            }
        }
    }

    .name-btn {
        font-size: 32px;
    }

    .nav-buttons {
        justify-content: space-evenly;
        width: fill;
    }

    .social-buttons {
        li {
            justify-content: flex-end;
            padding-left: 15px;
            svg {
                transform: scale(1.5);

                &:hover {
                    fill: $highlighted;
                }
            }
        }
    }
}