@import "const";

.first-item {
    display: flex;
    flex-wrap: wrap;

    .name-big {
        font-size: 5rem;
        
        p {
            margin-bottom: -2.5rem;
        }
    }
    
    .blurb {
        font-size: 1.75rem;
        margin-top: 3rem;
        margin-left: 3px;
        max-width: 30%;
    }

    .portrait-image {
        max-width: 30vw;
        height: auto;
        
        margin-right: 0;
        margin-left: auto;

        border-radius: $corner-radius;
    }
}