@import "const";

.first-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text {
        width: 50%;

        .name-big {
            font-size: 5rem;
            
            p {
                margin-bottom: -2.5rem;
            }
        }

        .blurb {
            font-size: 1.75rem;
            margin-top: 3rem;
            margin-left: 3px;
        }
    }
    
    

    .portrait-image {
        max-width: 30%;
        height: fit-content;
        
        margin-right: 0;
        margin-left: auto;

        border-radius: $corner-radius;
    }
}