@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@import "const";


* {
    font-family: 'DM Sans', sans-serif;
    color: $black;
    padding: 0px;
    margin: 0px;
}

p {
    margin-bottom: 1rem;
}

body {
    background-color: $bgdefault;
}

a {
    text-decoration: none;
    color: $link;
}

a:hover {
    color: $highlighted;
}

.content {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

input[type=text], input[type=email] {
    background-color: $light;
    padding: 3px 5px 3px 5px;
    border: none;
    border-radius: 5px;

    &:focus {
        outline-color: $highlighted;
        background-color: $white;
    }
}

input[type=submit] {
    border: none;
}